
@import '../../variables/colors.scss';

.page-about {
  background: $color-blue;

  p {
    text-align: center;

    font-weight: 700;
  }
}

.title {
  padding: 0;
  margin: 0;

  font-size: 96px;

  text-align: center;
}

.down-icon {
  position: absolute;
  bottom: 25px;
  left: 50%;

  transform: translateX(-50%);

  font-size: 42px;
}


.look-at-wrapper {
  position: fixed;
  bottom: 25px;
  left: 105px;

  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: flex-end;

  padding: 10px;

  font-size: 24px;
  font-weight: 700;

  transition: 0.25s;

  background: darken($color-blue, 4%);

  border-radius: 10px;

  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);

  opacity: 1;

  &.closed {
    opacity: 0;
    pointer-events: none;
  }
}

.down-left-icon {
  font-size: 48px;
}

.close-icon {
  position: absolute;
  right: -10px;
  top: -10px;

  cursor: pointer;

  filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.25));
}

.experience-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  width: 100%;

  a.nostyle {
    text-decoration: underline;
  }

  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 24px;
    
    .icon {
      font-size: 36px;
    }
  }
}

@media (max-width: 800px) {
  .look-at-wrapper {
    display: none;
  }
}
