@import-normalize;

html, body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100vw;
  height: 100vh;

  font-size: 36px;

  color: #FFFFFF;
}

#root {
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
}

ul.nostyle {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.page {
  position: relative;

  flex: 1 1 auto;

  height: 100%;
  width: 100%;

  overflow: scroll;
}

.slide {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: calc(100vh - 50px);

  padding: 25px;
}

.darken-bg {
  background: rgba(0, 0, 0, 0.03);
}

@media (max-width: 800px) {
  html, body {
    font-size: 24px;
  }

  .page {
    flex: auto;
    height: calc(100vh - 58px);
  }

  .slide {
    min-height: calc(100vh - 106px);
  }
}
